# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# OS files
.DS_Store

# Build folders
dist/
build/

# Vite
.vite/

# Coverage
coverage/

# VS Code
.vscode/

# Sequelize (opcional)
config/config.json