.dashboard {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: #111;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  margin-top: 20px;
  padding: 8px;
  background: #e50914;
  border: none;
  color: white;
  cursor: pointer;
}

/* Main */
.main {
  flex: 1;
  padding: 30px;
  background: #f5f5f5;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  text-align: left;
  padding: 10px;
}

th {
  background: #eee;
}

tr:nth-child(even) {
  background: #f9f9f9;
}